p {
  font-size: 45px;
}

a#back {
  background: url('/assets/images/back.svg') no-repeat;
  background-size: cover;
  width: 79px;
  display: block;
  color: #2A3136;
  font-weight: bold;
  text-transform: uppercase;
  text-indent: 20px;
  padding-top: 1px;
  margin-bottom: 50px;
}
